name: Bazel Test CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  bazel-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
    - uses: cashapp/activate-hermit@v1
      with:
        cache: 'true'
    - run: hermit init
    - uses: bazel-contrib/setup-bazel@0.13.0
      with:
        bazelisk-cache: true
        disk-cache: ${{ github.workflow }}
        repository-cache: true
    - name: Build project # Fail fast if the build doesn't pass.
      run: |
        source bin/activate-hermit
        bazel build //...

  test:
    needs: bazel-build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: cashapp/activate-hermit@v1
        with:
          cache: 'true'
      - run: hermit init
      - uses: bazel-contrib/setup-bazel@0.13.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - name: Build project
        run: bazel test //...

  test-go-exec-bazel:
    needs: bazel-build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: cashapp/activate-hermit@v1
        with:
          cache: 'true'
      - run: hermit init
      - uses: bazel-contrib/setup-bazel@0.13.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - name: Build project
        run: bazel run //golang/cmd/brackets

  test-go-exec-make:
    needs: bazel-build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: cashapp/activate-hermit@v1
        with:
          cache: 'true'
      - run: hermit init
      - uses: actions/setup-go@v3
      - uses: arduino/setup-protoc@v3
      - name: Install protoc-gen-go and protoc-gen-go-grpc
        run: |
          go install github.com/golang/protobuf/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
      - name: Add Go bin directory to PATH
        run: echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - run: make go-test
      - run: make go-run

  test-kotlin-exec-bazel:
    needs: bazel-build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: cashapp/activate-hermit@v1
        with:
          cache: 'true'
      - run: hermit init
      - uses: bazel-contrib/setup-bazel@0.13.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - name: Set port
        run: |
          echo "SERVICE_PORT=19999" >> $GITHUB_ENV
      - name: Build project
        run: |
          bazel build //kotlin:brackets_client
          bazel build //kotlin:brackets_service
      - name: Setup Service
        run: |
          bazel-bin/kotlin/brackets_service --port=${{ env.SERVICE_PORT }} &
          SERVICE_PID=$!
          echo "SERVICE_PID=${SERVICE_PID}" >> $GITHUB_ENV
          timeout=30; while ! (echo > /dev/tcp/localhost/${{ env.SERVICE_PORT }}) &>/dev/null; do ((timeout--)) || (echo "Service failed to start on port ${{ env.SERVICE_PORT }}!" && exit 1); sleep 1; done; echo "Service is up on port ${{ env.SERVICE_PORT }} with pid ${SERVICE_PID}."
      - name: Execute Client
        run: |
          echo "foo ( bar ( baz ) { blah } [ what!!? ] )" > test1.txt
          echo "foo ( bar ( baz ] { blah } [ what!!? ] )" > test2.txt
          bazel-bin/kotlin/brackets_client --port=${{ env.SERVICE_PORT }} test1.txt | grep "Brackets are balanced" && echo "TEST PASSED" || (echo "TEST FAILED" ; exit 1)
          bazel-bin/kotlin/brackets_client --port=${{ env.SERVICE_PORT }} test2.txt | grep "Brackets are NOT balanced" && echo "TEST PASSED" || (echo "TEST FAILED" ; exit 1)
      - name: Cleanup
        if: always()
        run: |
          echo "Stopping the service with PID ${{ env.SERVICE_PID }}..."
          # Check if the PID was actually set and if the process exists
          if [ -n "${{ env.SERVICE_PID }}" ]; then
            kill ${{ env.SERVICE_PID }}
            echo "Shutdown signal sent."
          else
            echo "Service PID not found."
          fi
